@model NRProject.Web.ViewModels.Jobs.JobsViewModel
        <ul class="list-group list-group-horizontal-xl">

            @foreach (var jobCategory in Model.JobCategories)
            {
                <a asp-controller="Jobs" asp-action="PostByCategory" asp-route-id="@jobCategory.Id" class="list-group-item">@jobCategory.Name</a>
            }
        </ul>
@foreach (var item in Model.JobPosts)
{
    @await Html.PartialAsync("_DisplayJobPostsPartial", item)
}